body {
  background: rgba(0, 60, 128, 0.71);
}

.header {
  position: fixed;
  top: 1%;
  height: 50px;
  width: 100%;
  z-index: 2;
}

.footer {
  position: fixed;
  bottom: 1%;
  height: 50px;
  width: 100%;
  z-index: 1;
}

.empty {
  height: 55px;
}

.elem {
  margin: 0 auto;
}

.taskItem {
  border: 1px solid yellow:;
  background: white;
  padding: 3px;
  margin: 5px;
  border-radius: 15px;
}

.title {
  margin: 10px;
}

.del {
  float: right;
  margin-right: 10px;
}

.del:hover {
  color: white;
}
